html {
    font-family: Helvetica Neue, Helvetica, sans-serif;
}
html:root {
    --normal-green: #06d713;
}
h1, h2 {
    font-weight: 400;
}
#footer {
    padding-top: 50px;
    text-align: center;
}
#main {
    padding-left: 30px;
}
a {
    color: #1aa0d8;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #1aa0d8;
}
body {
    margin: 0;
}
#header {
    background-color: var(--normal-green);
    padding: 20px 0px 20px 10px;
}
#header a {
    color: black;
    font-weight: 400;
    font-size: 17px;
    padding: 20px 10px 20px 10px;
    transition-duration: 0.2s;
}
#header a:hover {
    text-decoration: none;
    background-color: rgb(3, 187, 3);
}
a:active {
    color: red;
}
button {
    background-color: var(--normal-green);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 30px;
    transition-duration: 150ms;
}
button:active {
    background-color: green;
}
.small {
    font-size: 10px;
}
::selection {
    background: lightsteelblue;
}
