html {
  font-family: Helvetica Neue, Helvetica, sans-serif;
}
h1, h2 {
  font-weight: 400;
}
#footer {
  padding-top: 50px;
  text-align: center;
}
#main {
  padding-left: 30px;
}
a {
  color: #1aa0d8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #1aa0d8;
}
body {
  margin: 0;
}
#header {
  background-color: #3abeff;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
}
#header a {
  color: black;
  padding-right: 30px;
}
#header a:hover {
  text-decoration: none;
}
a:active {
  color: #00ce81;
}
